[package]
name = "porward"
version = "0.1.0"
authors = ["Hamed Zaghaghi <hamed.zaghaghi@gmail.com>"]
license = "MIT"
edition = "2021"

[dependencies]
crossterm = "0.28.1"
ratatui = "0.29.0"
color-eyre = "0.6.3"
